@model TakipProje.Models.Servis

@{
    ViewBag.Title = "Servis Kayıt Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<center><h2>Servis Kayıt İşlemi</h2></center>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Servis Kayıt Bilgileri</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <span class="create_titles">İş Adı</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.İsAdi, new { htmlAttributes = new { @class = "form-control", id = "isadi" } })
            @Html.ValidationMessageFor(model => model.İsAdi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @*deneme başla*@
            <hr />
            <br />
            <h6 style="margin-bottom:25px;letter-spacing:1px;">BİR PERİYOT SIKLIĞI SEÇİNİZ</h6>
            <br />

            <form>
                <fieldset id="r_periyot">
                    <label for="r_gun">GÜN</label>
                    <input type="radio" value="Gun" onchange="gun_selected()" name="rb" id=1  />&nbsp;
                    <select name="g_deger" id="g_deger">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <label for="r_hafta">HAFTA</label>
                    <input type="radio" value="Hafta" onchange="hafta_selected()" name="rb" id=2  />&nbsp;
                    <select name="h_deger" id="h_deger">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <label for="r_ay">AY</label>
                    <input type="radio" value="Ay" onchange="ay_selected()" name="rb" id=3 />&nbsp;
                    <select name="a_deger" id="a_deger">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                    </select>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <label for="r_yil">YIL</label>
                    <input type="radio" value="Yil" onchange="yil_selected()" name="rb" id=4 />&nbsp;
                    <select name="y_deger" id="y_deger">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="btn_temizle" class="btn-warning" type="button" onclick="temizle_selected()" value="Seçimi Temizle">&nbsp;
                </fieldset>
                <br />
                <br />
                <br />
            </form>

            @*deneme bitir*@
        </div>
    </div>

    <div class="form-group">
        <span class="create_titles">Firma Adı</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirmaAdi, new { htmlAttributes = new { @class = "form-control", id = "firmaadi" } })
            @Html.ValidationMessageFor(model => model.FirmaAdi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="create_titles">Sabit Telefon</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SabitTelefon, new { htmlAttributes = new { @class = "form-control", id = "sabittelefon",@type="number" } })
            @Html.ValidationMessageFor(model => model.SabitTelefon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="create_titles">Destek Personeli</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DestekPersonelAdSoyad, new { htmlAttributes = new { @class = "form-control", id = "destekpersoneladsoyad" } })
            @Html.ValidationMessageFor(model => model.DestekPersonelAdSoyad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="create_titles">GSM</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Gsm, new { htmlAttributes = new { @class = "form-control", id = "gsm" } })
            @Html.ValidationMessageFor(model => model.Gsm, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="create_titles">Mail</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control", @type = "email", id = "mail" } })
            @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="create_titles">Başlangıç Tarihi</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.BaslangicTarihi, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "baslangictarihi" } })
            @Html.ValidationMessageFor(model => model.BaslangicTarihi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="create_titles">Bitiş Tarihi</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.BitisTarihi, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "bitistarihi" } })
            @Html.ValidationMessageFor(model => model.BitisTarihi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="create_titles">Bakım ve Açıklamalar</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.BakimveAciklamalar, new { htmlAttributes = new { @class = "form-control", id = "bakimveaciklamalar" } })
            @Html.ValidationMessageFor(model => model.BakimveAciklamalar, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="btnClickservis" type="submit" value="Kayıt Oluştur" class="btn btn-success" />
            <div id="btn_geridon">

                <button type="button" class="btn btn-primary" onClick="location.href='/Servis/Index'">Geri Dön</button>

            </div>
        </div>

    </div>

    <script>
                        function gun_selected() { //EĞER GÜN SEÇİLDİYSE DİĞER COMBOBOXLARI PASİF HALE GETİR VE DEVAM ET ...
                            var x = document.getElementById("g_deger")
                            x.disabled = false

                            var x = document.getElementById("a_deger")
                            x.disabled = true

                            var x = document.getElementById("h_deger")
                            x.disabled = true

                            var x = document.getElementById("y_deger")
                            x.disabled = true

                            document.getElementById("2").disabled = true;
                            document.getElementById("3").disabled = true;
                            document.getElementById("4").disabled = true;

                        }

                        function hafta_selected() { //EĞER HAFTA SEÇİLDİYSE DİĞER COMBOBOXLARI PASİF HALE GETİR VE DEVAM ET ...
                            var x = document.getElementById("h_deger")
                            x.disabled = false

                            var x = document.getElementById("g_deger")
                            x.disabled = true

                            var x = document.getElementById("a_deger")
                            x.disabled = true

                            var x = document.getElementById("y_deger")
                            x.disabled = true

                            document.getElementById("1").disabled = true;
                            document.getElementById("3").disabled = true;
                            document.getElementById("4").disabled = true;

                        }

                        function ay_selected() { //EĞER AY SEÇİLDİYSE DİĞER COMBOBOXLARI PASİF HALE GETİR VE DEVAM ET ...
                            var x = document.getElementById("a_deger")
                            x.disabled = false

                            var x = document.getElementById("g_deger")
                            x.disabled = true

                            var x = document.getElementById("h_deger")
                            x.disabled = true

                            var x = document.getElementById("y_deger")
                            x.disabled = true

                            document.getElementById("1").disabled = true;
                            document.getElementById("2").disabled = true;
                            document.getElementById("4").disabled = true;
                        }

                        function yil_selected() { //EĞER YIL SEÇİLDİYSE DİĞER COMBOBOXLARI PASİF HALE GETİR VE DEVAM ET ...
                            var x = document.getElementById("y_deger")
                            x.disabled = false

                            var x = document.getElementById("g_deger")
                            x.disabled = true

                            var x = document.getElementById("h_deger")
                            x.disabled = true

                            var x = document.getElementById("a_deger")
                            x.disabled = true

                            document.getElementById("1").disabled = true;
                            document.getElementById("2").disabled = true;
                            document.getElementById("3").disabled = true;

                        }

                        function temizle_selected() {

                            var x = document.getElementById("g_deger")
                            x.disabled = false

                            var x = document.getElementById("h_deger")
                            x.disabled = false

                            var x = document.getElementById("a_deger")
                            x.disabled = false

                            var x = document.getElementById("y_deger")
                            x.disabled = false


                            document.getElementById("1").disabled = false;
                            document.getElementById("2").disabled = false;
                            document.getElementById("3").disabled = false;
                            document.getElementById("4").disabled = false;
                        }

                        //ajax request başlangıç
                        var gunperiyot;

                             $(document).ready(function () {
                                 $("#btnClickservis").click(function () {

                                   //Hangi radiobutton seçilmiş kontrol et.
                                     var isChecked_gun_servis = $('#1').prop('checked');
                                     var isChecked_hafta_servis = $('#2').prop('checked');
                                     var isChecked_ay_servis = $('#3').prop('checked');
                                     var isChecked_yil_servis = $('#4').prop('checked');

                                     if (isChecked_gun_servis == true) {
                                         gunperiyot = document.getElementById("g_deger").value; //r_gün seçilmişse gün değerini al
                                     }
                                     if (isChecked_hafta_servis == true) {
                                         gunperiyot = document.getElementById("h_deger").value; //r_hafta seçilmişse hafta değerini al ve 7 ile çarp
                                         gunperiyot = (gunperiyot * 7);
                                     }

                                     if (isChecked_ay_servis == true) {
                                         gunperiyot = document.getElementById("a_deger").value; //r_ay seçilmişse ay değerini al ve 30 ile çarp
                                         gunperiyot = (gunperiyot * 30);
                                     }
                                     if (isChecked_yil_servis == true) {
                                         gunperiyot = document.getElementById("y_deger").value; //r_yil seçilmiş ise yil değerini al ve 365 ile çarp
                                         gunperiyot = (gunperiyot * 365);
                                     }

                                   var isadi = document.getElementById("isadi").value;

                                   var firmaadi = document.getElementById("firmaadi").value;

                                   var sabittelefon = document.getElementById("sabittelefon").value;

                                   var destekpersoneladsoyad = document.getElementById("destekpersoneladsoyad").value;

                                   var gsm = document.getElementById("gsm").value;

                                   var mail = document.getElementById("mail").value;

                                   var baslangictarihi = document.getElementById("baslangictarihi").value;

                                   var bitistarihi = document.getElementById("bitistarihi").value;

                                   var bakimveaciklamalar = document.getElementById("bakimveaciklamalar").value;

                                   //
                                var f = {};
                                f.url = '@Url.Action("TFunction", "Servis")';
                                f.type = "POST";
                                     f.dataType = "json";

                                     if (bitistarihi > baslangictarihi) {
                                         f.data = JSON.stringify({ PeriyotGun: gunperiyot, isAdi: isadi, FirmaAdi: firmaadi, SabitTelefon: sabittelefon, DestekPersonelAdSoyad: destekpersoneladsoyad, Gsm: gsm, Mail: mail, BaslangicTarihi: baslangictarihi, BitisTarihi: bitistarihi, BakimVeAciklamalar: bakimveaciklamalar });
                                         f.contentType = "application/json";
                                         if (gunperiyot == null) {
                                             window.alert("UYARI! Periyot Bilgisi Girilmedi!")
                                         }

                                         f.success = function (response) {
                                             alert("Kayıt Oluşturma İşlemi Başarıyla Tamamlandı !");
                                         };
                                         f.error = function (response) {
                                             alert("Kayıt Oluşturma Sırasında Bir Hata Meydana Geldi !");
                                         };
                                         $.ajax(f);
                                     }
                                     else {
                                         window.alert("UYARI! Bitiş Tarihi Başlangıç Tarihinden Önce Olamaz!")
                                     }

                                     
                                     //periyot boş geçildiğinde periyot hatası ver
                              
                            });
                        });
    </script>

</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






<style>
    .create_titles {
        margin-left: 13px;
        color: black;
        font-weight: bolder;
    }

    #btn_geridon {
        float: right;
    }
</style>