@model TakipProje.Models.Servis

@{
    ViewBag.Title = "Servis Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<center><h2>Servis Silme İşlemi</h2></center>
<br>
<center><h3 style="color:red;background-color:rgba(1,1,1,0.1);">Uyarı ! : Bu Servis Kaydını Silmek İstediğinize Emin Misiniz ?</h3></center>
<div>
    <br>
    <h4>Servis Bilgileri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span class="delete_title">İş Adı</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İsAdi)
        </dd>

        <dt>
            <span class="delete_title">Bakım Periyodu</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BakimPeriyodu)
        </dd>

        <dt>
            <span class="delete_title">Firma Adı</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirmaAdi)
        </dd>

        <dt>
            <span class="delete_title">Sabit Telefon</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SabitTelefon)
        </dd>

        <dt>
            <span class="delete_title">Destek Personeli</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestekPersonelAdSoyad)
        </dd>

        <dt>
            <span class="delete_title">GSM</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gsm)
        </dd>

        <dt>
            <span class="delete_title">Mail</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            <span class="delete_title">Başlangıç Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaslangicTarihi)
        </dd>

        <dt>
            <span class="delete_title">Bitiş Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>

        <dt>
            <span class="delete_title">Bakım ve Açıklamalar</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BakimveAciklamalar)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Sil" class="btn btn-danger" />

            <button style="float:right" type="button" class="btn btn-primary" onClick="location.href='/Servis/Index'">Geri Dön</button>

    </div>
</div>
    }
</div>