@model TakipProje.Models.Servis

@{
    ViewBag.Title = "Servis Ayrıntı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<center><h2>Servis Bilgileri Ayrıntılar</h2></center>

<div>
    <h4>Servis Ayrıntıları</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span class="details_title">İş Adı</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İsAdi)
        </dd>

        <dt>
            <span class="details_title">Bakım Periyodu</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BakimPeriyodu)
        </dd>

        <dt>
            <span class="details_title">Firma Adı</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirmaAdi)
        </dd>

        <dt>
            <span class="details_title">Sabit Telefon</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SabitTelefon)
        </dd>

        <dt>
            <span class="details_title">Destek Personeli</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DestekPersonelAdSoyad)
        </dd>

        <dt>
            <span class="details_title">GSM</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gsm)
        </dd>

        <dt>
            <span class="details_title">Mail</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            <span class="details_title">Başlangıç Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaslangicTarihi)
        </dd>

        <dt>
            <span class="details_title">Bitiş Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>

        <dt>
            <span class="details_title">Bakım ve Açıklamalar</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BakimveAciklamalar)
        </dd>

    </dl>
</div>
<div class="col-sm-offset-1 col-md-10">
    <span style="float:left;">@Html.ActionLink("Güncelle", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" })</span>


        <button style="float:right" type="button" class="btn btn-primary" onClick="location.href='/Servis/Index'">Geri Dön</button>
</div>


