@model TakipProje.Models.Servis

@{
    ViewBag.Title = "Servis Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<center><h2>Servis Güncelleme İşlemi</h2></center>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Servis Kayıt Bilgileri</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        <span class="create_titles">Program Adı</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.İsAdi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.İsAdi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*<span class="create_titles">Bakım Periyodu</span>*@
        <div class="col-md-10">
            @Html.HiddenFor(model => model.BakimPeriyodu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BakimPeriyodu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="create_titles">Firma Adı</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirmaAdi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirmaAdi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="create_titles">Sabit Telefon</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SabitTelefon, new { htmlAttributes = new { @class = "form-control" , @type="number"} })
            @Html.ValidationMessageFor(model => model.SabitTelefon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="create_titles">Destek Personel Ad Soyadı</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DestekPersonelAdSoyad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DestekPersonelAdSoyad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="create_titles">Gsm</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Gsm, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
            @Html.ValidationMessageFor(model => model.Gsm, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="create_titles">Mail</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control", @type = "mail" } })
            @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="create_titles">Başlangıç Tarihi</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.BaslangicTarihi, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.BaslangicTarihi, "", new { @class = "text-danger" })
            <div style="font-style:italic">
                Atanan Başlangıç Tarihi :
                @Html.DisplayFor(model => model.BaslangicTarihi)
            </div>
        </div>
    </div>

    <div class="form-group">
        <span class="create_titles">Bitiş Tarihi</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.BitisTarihi, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.BitisTarihi, "", new { @class = "text-danger" })
            <div style="font-style:italic">
                Atanan Bitiş Tarihi :
                @Html.DisplayFor(model => model.BitisTarihi)
            </div>
        </div>
    </div>

    <div class="form-group">
        <span class="create_titles">Bakım ve Açıklamalar</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.BakimveAciklamalar, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BakimveAciklamalar, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Güncelle" class="btn btn-success" />

            <button style="float: right;" type="button" class="btn btn-primary" onClick="location.href='/Servis/Index'">Geri Dön</button>

        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
