@model TakipProje.Models.Bakim

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<center><h2>Bakım Kayıt İşlemi</h2></center>

<head>


    <style>
        #btn_gun, #btn_hafta, #btn_ay, #btn_yil, #btn_temizle {
            transition: 650ms;
        }

            #btn_gun:focus, #btn_hafta:focus, #btn_ay:focus, #btn_yil:focus {
                border: solid white 2px;
            }

            #btn_temizle:focus {
                border: solid black 2px;
                color: black;
            }

        .create_titles {
            margin-left: 13px;
            color: black;
            font-weight: bolder;
        }

        #btn_geridon {
            float: right;
        }
    </style>

</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Bakım Kayıt Bilgileri</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <span class="create_titles">Bakım Adı</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.BakimAdi, new { htmlAttributes = new { @class = "form-control" , id="bakimadi"} })
                @Html.ValidationMessageFor(model => model.BakimAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="create_titles">Bakım Tarihi</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.BakimTarihi, new { htmlAttributes = new { @class = "form-control", @type = "date" , id="bakimtarihi"} })
                @Html.ValidationMessageFor(model => model.BakimTarihi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="create_titles">Bakım Yapan Personel</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.BakimYapanPersonel, new { htmlAttributes = new { @class = "form-control" , id="personel"} })
                @Html.ValidationMessageFor(model => model.BakimYapanPersonel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*<span class="create_titles">Periyot</span>*@
            <div class="col-md-10">


                @*deneme başla*@
                <hr />
                <br />
                <h6 style="margin-bottom:25px;letter-spacing:1px;">BİR PERİYOT SIKLIĞI SEÇİNİZ</h6>
                <br />

                <form>
                    <fieldset id="r_periyot">

                        @*<label for="gun">GÜN</label>&nbsp;*@
                        @*<input id="btn_gun" class="btn-primary" type="button" onclick="gun_selected()" value="GÜN">&nbsp;*@
                        <label for="r_gun">GÜN</label>
                        <input type="radio" value="Gun" onchange="gun_selected()" name="rb" id=1 />&nbsp;
                        <select name="g_deger" id="g_deger">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>

                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                        @*<label for="hafta">HAFTA</label>&nbsp;*@
                        @*<input id="btn_hafta" class="btn-primary" type="button" onclick="hafta_selected()" value="HAFTA">&nbsp;*@
                        <label for="r_hafta">HAFTA</label>
                        <input type="radio" value="Hafta" onchange="hafta_selected()" name="rb" id=2 />&nbsp;
                        <select name="h_deger" id="h_deger">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>

                        </select>

                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                        @*<label for="ay">AY</label>&nbsp;*@
                        @*<input id="btn_ay" class="btn-primary" type="button" onclick="ay_selected()" value="AY">&nbsp;*@
                        <label for="r_ay">AY</label>
                        <input type="radio" value="Ay" onchange="ay_selected()" name="rb" id=3 />&nbsp;
                        <select name="a_deger" id="a_deger">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                        </select>

                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                        @*<label for="yil">YIL</label>&nbsp;*@
                        @*<input id="btn_yil" class="btn-primary" type="button" onclick="yil_selected()" value="YIL">&nbsp;*@
                        <label for="r_yil">YIL</label>
                        <input type="radio" value="Yil" onchange="yil_selected()" name?="rb" id=4 />&nbsp;

                        <select name="y_deger" id="y_deger">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input id="btn_temizle" class="btn-warning" type="button" onclick="temizle_selected()" value="Seçimi Temizle">&nbsp;
                    </fieldset>
                    <br />
                    <br />
                    <br />



                    @*<input type="submit" value="Kayıt Oluştur" class="btn btn-info" />*@


                <script>
                        function gun_selected() { //EĞER GÜN SEÇİLDİYSE DİĞER COMBOBOXLARI PASİF HALE GETİR VE DEVAM ET ...
                            var x = document.getElementById("g_deger")
                            x.disabled = false

                            var x = document.getElementById("a_deger")
                            x.disabled = true

                            var x = document.getElementById("h_deger")
                            x.disabled = true

                            var x = document.getElementById("y_deger")
                            x.disabled = true

                            document.getElementById("2").disabled = true;
                            document.getElementById("3").disabled = true;
                            document.getElementById("4").disabled = true;


                            $(document).ready(function () {
                            $("#btnClick").click(function () {
                                var f = {};
                                f.url = '@Url.Action("TestFunction", "Bakim")';
                                f.type = "POST";
                                f.dataType = "json";
                                f.data = JSON.stringify({ PeriyotGun: gun_gun, BakimAdi: bakimadi, BakimTarihi: bakimtarihi, Personel: personel });
                                f.contentType = "application/json";

                                f.success = function (response) {
                                    alert("Kayıt Oluşturma İşlemi Başarıyla Tamamlandı !");
                                };
                                f.error = function (response) {
                                    alert("Kayıt Oluşturma Sırasında Bir Hata Meydana Geldi !");
                                };
                                $.ajax(f);
                            });
                        });




                            //VERİLERİN ALINMASI VE AJAX POST İŞLEMİ (BAKIM CONTROLLER'A) _GÜN

                            var gun_gun = document.getElementById("g_deger").value;

                            var bakimadi = document.getElementById("bakimadi").value;

                            var bakimtarihi = document.getElementById("bakimtarihi").value;

                            var personel = document.getElementById("personel").value;

                        }




                        function hafta_selected() {

                            var x = document.getElementById("h_deger")
                            x.disabled = false

                            var x = document.getElementById("g_deger")
                            x.disabled = true

                            var x = document.getElementById("a_deger")
                            x.disabled = true

                            var x = document.getElementById("y_deger")
                            x.disabled = true

                              //VERİLERİN ALINMASI VE AJAX POST İŞLEMİ (BAKIM CONTROLLER'A) _HAFTA

                            var hafta = document.getElementById("h_deger").value; //HAFTA OLARAK ALINDI

                            var hafta_gun= (hafta * 7); //GÜNE ÇEVİRİLDİ

                            var bakimadi = document.getElementById("bakimadi").value;

                            var bakimtarihi = document.getElementById("bakimtarihi").value;

                            var personel = document.getElementById("personel").value;

                            document.getElementById("1").disabled = true;
                            document.getElementById("3").disabled = true;
                            document.getElementById("4").disabled = true;


                           $(document).ready(function () {
                            $("#btnClick").click(function () {
                                var f = {};
                                f.url = '@Url.Action("TestFunction", "Bakim")';
                                f.type = "POST";
                                f.dataType = "json";
                                f.data = JSON.stringify({ PeriyotGun: hafta_gun, BakimAdi: bakimadi, BakimTarihi: bakimtarihi, Personel: personel });
                                f.contentType = "application/json";
                                f.success = function (response) {
                                    alert("Kayıt Oluşturma İşlemi Başarıyla Tamamlandı !");
                                };
                                f.error = function (response) {
                                    alert("Kayıt Oluşturma Sırasında Bir Hata Meydana Geldi !");
                                };
                                $.ajax(f);
                            });
                        });


                        }


                        function ay_selected() {

                            var x = document.getElementById("a_deger")
                            x.disabled = false

                            var x = document.getElementById("g_deger")
                            x.disabled = true

                            var x = document.getElementById("h_deger")
                            x.disabled = true

                            var x = document.getElementById("y_deger")
                            x.disabled = true

                                //VERİLERİN ALINMASI VE AJAX POST İŞLEMİ (BAKIM CONTROLLER'A) _AY

                            var ay = document.getElementById("a_deger").value; //AY OLARAK ALINDI

                            var ay_gun = (ay * 30); //GÜNE ÇEVİRİLDİ

                            var bakimadi = document.getElementById("bakimadi").value;

                            var bakimtarihi = document.getElementById("bakimtarihi").value;

                            var personel = document.getElementById("personel").value;

                            document.getElementById("1").disabled = true;
                            document.getElementById("2").disabled = true;
                            document.getElementById("4").disabled = true;


                           $(document).ready(function () {
                            $("#btnClick").click(function () {
                                var f = {};
                                f.url = '@Url.Action("TestFunction", "Bakim")';
                                f.type = "POST";
                                f.dataType = "json";
                                f.data = JSON.stringify({ PeriyotGun: ay_gun, BakimAdi: bakimadi, BakimTarihi: bakimtarihi, Personel: personel });
                                f.contentType = "application/json";
                                f.success = function (response) {
                                    alert("Kayıt Oluşturma İşlemi Başarıyla Tamamlandı !");
                                };
                                f.error = function (response) {
                                    alert("Kayıt Oluşturma Sırasında Bir Hata Meydana Geldi !");
                                };
                                $.ajax(f);
                            });
                        });

                        }

                        function yil_selected() {

                            var x = document.getElementById("y_deger")
                            x.disabled = false

                            var x = document.getElementById("g_deger")
                            x.disabled = true

                            var x = document.getElementById("h_deger")
                            x.disabled = true

                            var x = document.getElementById("a_deger")
                            x.disabled = true


                             //VERİLERİN ALINMASI VE AJAX POST İŞLEMİ (BAKIM CONTROLLER'A) _YIL

                            var yil = document.getElementById("y_deger").value; //YIL OLARAK ALINDI

                            var yil_gun = (yil * 365); //GÜNE ÇEVİRİLDİ

                            var bakimadi = document.getElementById("bakimadi").value;

                            var bakimtarihi = document.getElementById("bakimtarihi").value;

                            var personel = document.getElementById("personel").value;


                            document.getElementById("1").disabled = true;
                            document.getElementById("2").disabled = true;
                            document.getElementById("3").disabled = true;


                           $(document).ready(function () {
                            $("#btnClick").click(function () {
                                var f = {};
                                f.url = '@Url.Action("TestFunction", "Bakim")';
                                f.type = "POST";
                                f.dataType = "json";
                                f.data = JSON.stringify({ PeriyotGun: yil_gun, BakimAdi: bakimadi, BakimTarihi: bakimtarihi, Personel: personel });
                                f.contentType = "application/json";
                                f.success = function (response) {
                                    alert("Kayıt Oluşturma İşlemi Başarıyla Tamamlandı !");
                                };
                                f.error = function (response) {
                                    alert("Kayıt Oluşturma Sırasında Bir Hata Meydana Geldi !");
                                };
                                $.ajax(f);
                            });
                        });

                        }

                        function temizle_selected() {

                            var x = document.getElementById("g_deger")
                            x.disabled = false

                            var x = document.getElementById("h_deger")
                            x.disabled = false

                            var x = document.getElementById("a_deger")
                            x.disabled = false

                            var x = document.getElementById("y_deger")
                            x.disabled = false

                            document.getElementById("1").disabled = false;
                            $("1").prop("checked", false);
                            document.getElementById("2").disabled = false;
                            $("2").prop("checked", false);
                            document.getElementById("3").disabled = false;
                            $("3").prop("checked", false);
                            document.getElementById("4").disabled = false;
                            $("4").prop("checked", false);
                        }


                </script>






                </form>

                @*deneme bitir*@



            </div>



        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input id="btnClick" type="submit" value="Kayıt Oluştur" class="btn btn-success" />*@
                <input id="btnClick" type="submit" value="Kayıt Oluştur" class="btn btn-success" />
                <div id="btn_geridon">

                    <button type="button" class="btn btn-primary" onClick="location.href='/Bakim/Index'">Geri Dön</button>

                </div>
            </div>

        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript">

    </script>


}

