@model TakipProje.Models.Bakim

@{
    ViewBag.Title = "Bakım Ayrıntı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<center><h2>Bakım Bilgileri Ayrıntılar</h2></center>

<div>
    <h4>Bakım Ayrıntıları</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span class="details_title">Bakım Adı</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BakimAdi)
        </dd>

        <dt>
            <span class="details_title">Bakım Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BakimTarihi)
        </dd>

        <dt>
            <span class="details_title">Bakım Yapan Personel</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BakimYapanPersonel)
        </dd>

        <dt>
            <span class="details_title">Periyot</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periyot)
        </dd>

    </dl>
    <br />
    <hr />
    <br />
</div>


<span id="title_aciklamalar">Açıklamalar</span>
@foreach (var aciklama in Model.BakimAciklama)
{
    <li class="media" id="not_list">
        <div class="media-body">
            <h6 class="media-heading" style="font-style:italic;">Ekleyen Kullanıcı : @aciklama.KullaniciID</h6>
            <h6 class="media-heading" style="font-style:italic;">Ekleme Tarihi : @aciklama.Tarih.ToString("dd-MM-yyyy")</h6>
            <div class="not_aciklama"><br />@Html.Raw(aciklama.Aciklama)</div>
        </div>
    </li>

    <style>
        #title_aciklamalar {
            margin-left: 10px;
            letter-spacing: 1px;
            font-weight: bolder;
        }

        #not_list {
            margin-top: 20px;
            margin-left: 10px;
            padding: 10px;
            width: 750px;
            border: solid dodgerblue 1px;
            border-radius: 10px;
        }

        .not_aciklama {
            font-size: 20px;
            font-style: italic;
        }
    </style>


}


@Html.Partial("_BakimAciklamaEkle", Model.ID)


<div class="col-sm-offset-1 col-md-10">
    <span class="btn_duzenle" style="float:left;">@Html.ActionLink("Güncelle", "Edit", new { id = Model.ID }, new { @class = "btn_duzenle_txt" })</span>


    <div id="btn_geridon">
        <button type="button" class="btn btn-primary" onClick="location.href='/Bakim/Index'">Geri Dön</button>
    </div>
</div>

<style>
    .details_title {
        color: black;
        font-weight: bolder;
    }

    #btn_geridon {
        float: right;
    }

    .btn_duzenle_txt {
        transition: 900ms;
        background-color: #FFC107;
        font-size: 15px;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 13px;
        padding-right: 13px;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        font-weight: inherit;
        letter-spacing: 0.7px;
        background-color: rgba(28,200,138,1);
    }

        .btn_duzenle_txt:hover {
            text-decoration: none;
            background-color: rgba(22,160,110,1);
            color: white;
        }
</style>
