@model TakipProje.Models.Bakim

@{
    ViewBag.Title = "Bakım Ayrıntı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<center><h2>Bakım Bilgileri Ayrıntılar</h2></center>

<div>
    <h4>Bakım Ayrıntıları</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span class="details_title">Bakım Adı</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BakimAdi)
        </dd>

        <dt>
            <span class="details_title">İlk Bakım Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BakimTarihi)
        </dd>

        <dt>
            <span class="details_title">Bakım Yapan Personel</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BakimYapanPersonel)
        </dd>

        <dt>
            <span class="details_title">Periyot</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periyot) Günde Bir
        </dd>

    </dl>
    <br />

    <br />
</div>


@foreach (var aciklama in Model.BakimAciklama)
{
    <li class="media" id="not_list">
        <div class="media-body">
            <h6 class="media-heading" style="font-style:italic;"> Bakım Tarihi : @aciklama.Tarih.ToString("dd-MM-yyyy")</h6>
            <div class="not_aciklama"><br />@Html.Raw(aciklama.Aciklama)</div>
        </div>
    </li>

    <style>
        #title_aciklamalar {
            margin-left: 10px;
            letter-spacing: 1px;
            font-weight: bolder;
        }

        #not_list {
            margin-top: 20px;
            margin-left: 10px;
            padding: 10px;
            width: 1500px;
            border: solid dodgerblue 1px;
            border-radius: 10px;
        }

        .not_aciklama {
            font-size: 20px;
            font-style: italic;
        }
    </style>


}



<div class="col-sm-offset-1 col-md-10">
    <div style="margin-left:13px">
        @Html.Partial("_BakimAciklamaEkle", Model.ID)
    </div>
    <span style="float:left;">@Html.ActionLink("Güncelle", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" })</span>


        <button style="float: right;" type="button" class="btn btn-primary" onClick="location.href='/Bakim/Index'">Geri Dön</button>
</div>
<br />
<br /><br />
<br />