@model IEnumerable<TakipProje.Models.Bakim>

@{
    ViewBag.Title = "Bakım Takibi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<center><h2>Bakım Takip Kayıt İşlemleri</h2></center>

<br>
<button type="button" class="btn btn-primary" onClick="location.href='/Bakim/Create'" style="transition:900ms;">Yeni Kayıt Oluştur</button>
<br>
<br>
<table class="table">
    <tr>
        <th>
            <span>Bakım Adı</span>
        </th>
        <th>
            <span>Bakım Tarihi</span>
        </th>
        <th>
            <span>Bakım Yapan Personel</span>
        </th>
        <th>
            <span>Periyot</span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BakimAdi)
            </td>
            <td>
                @item.BakimTarihi.ToString("yyyy.MM.dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BakimYapanPersonel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periyot)
            </td>
            <td>
                @Html.ActionLink("Güncelle", "Edit", new { id = item.ID }, new { @class = "btn_duzenle" }) |
                @Html.ActionLink("Ayrıntılar", "Details", new { id = item.ID }, new { @class = "btn_ayrintilar" }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.ID }, new { @class = "btn_sil" })
            </td>
        </tr>
    }

</table>

<br>
<br>
<br>
<br>
<label style="font-size:60px;">TOPLAM ID SAYISI : @ViewBag.Count</label>