@model TakipProje.Models.Yedekleme

@{
    ViewBag.Title = "Yedekleme Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<br>
<center><h2>Yedekleme Silme İşlemi</h2></center>
<br>
<center><h3 style="color:red;background-color:rgba(1,1,1,0.1);">Uyarı ! : Bu Yedekleme Kaydını Silmek İstediğinize Emin Misiniz ?</h3></center>
<div>
    <h4>Yedekleme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span class="delete_title">Yedekleme Periyodu</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YedeklemePeriyodu)
        </dd>

        <dt>
            <span class="delete_title">Yedekleme Plan Adı</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YedeklemePlaniAdi)
        </dd>

        <dt>
            <span class="delete_title">Durum</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Durum)
        </dd>

        <dt>
            <span class="delete_title">Oluşturma Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OlusturmaTarihi)
        </dd>

        <dt>
            <span class="delete_title">Son Yedekleme Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SonYedeklemeTarihi)
        </dd>

        <dt>
            <span class="delete_title">Kontrol Eden Personel</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KontrolEdenPersonel)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sil" class="btn btn-danger" />
                <div id="btn_geridon">

                    <button type="button" class="btn btn-primary" onClick="location.href='/Yedekleme/Index'">Geri Dön</button>

                </div>
            </div>
        </div>


    }
</div>
