@model IEnumerable<TakipProje.Models.Yedekleme>

@{
    ViewBag.Title = "Yedekleme Takibi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Mevcut Lisans Kaydı
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.LisansKayitSayisi - Kayıt</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-medal fa-2x text-gray-500"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Mevcut Bakım Kaydı
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.BakimKayitSayisi - Kayıt</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tools fa-2x text-gray-500"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Mevcut Servis Kaydı
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.ServisKayitSayisi - Kayıt</div>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-cogs fa-2x text-gray-500"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Mevcut Yedekleme Kaydı
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.YedeklemeKayitSayisi - Kayıt</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-server fa-2x text-gray-500"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<br>
<br>
<center><h2>Yedekleme Takip Kayıt İşlemleri</h2></center>

<br>
<button type="button" class="btn btn-primary" onClick="location.href='/Yedekleme/Create'" style="transition:900ms;">Yeni Kayıt Oluştur</button>
<button type="button" class="btn btn-dark" onClick="location.href='/Mail/YedeklemeMail'" style="float:right ;transition:900ms;">Yedekleme Mail Ayarı</button>

<br>
<br>



<table id="yedekleme" class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <tr>
            <th>
                <span>Yedekleme Plan Adı</span>
            </th>
            <th>
                <span>Durum</span>
            </th>
            <th>
                <span>Oluşturma Tarihi</span>
            </th>
            <th>
                <span>Son Yedekleme Tarihi</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.YedeklemePlaniAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Durum)
                </td>
                <td>
                    @item.OlusturmaTarihi.ToString("yyyy.MM.dd")
                </td>
                <td>
                    @item.SonYedeklemeTarihi.ToString("yyyy.MM.dd")
                </td>
                <td>
                    @Html.ActionLink("Periyot Güncelle", "YedeklemePeriyotGuncelle", new { id = item.ID }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Güncelle", "Edit", new { id = item.ID }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Ayrıntılar", "Details", new { id = item.ID }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
