@model IEnumerable<TakipProje.Models.Yedekleme>

@{
    ViewBag.Title = "Yedekleme Takibi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<center><h2>Yedekleme Takip Kayıt İşlemleri</h2></center>

<br>
<button type="button" class="btn btn-primary" onClick="location.href='/Yedekleme/Create'" style="transition:900ms;">Yeni Kayıt Oluştur</button>
<br>
<br>
<table class="table">
    <tr>
        <th>
            <span>Yedekleme Plan Adı</span>
        </th>
        <th>
            <span>Durum</span>
        </th>
        <th>
            <span>Başlangıç Tarihi</span>
        </th>
        <th>
            <span>Son Yedekleme Tarihi</span>
        </th>
        <th>
            <span>Son Kontrol Tarihi</span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YedeklemePlaniAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaslangicTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SonYedeklemeTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SonKontrolTarihi)
            </td>
            <td>
                @Html.ActionLink("Güncelle", "Edit", new { id = item.ID }, new { @class = "btn_duzenle" }) |
                @Html.ActionLink("Ayrıntılar", "Details", new { id = item.ID }, new { @class = "btn_ayrintilar" }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.ID }, new { @class = "btn_sil" })
            </td>
        </tr>
    }

</table>
