@model TakipProje.Models.Lisans

@{
    ViewBag.Title = "Lisans Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<br>
<center><h2>Lisans Silme İşlemi</h2></center>
<br>
<center><h3 style="color:red;background-color:rgba(1,1,1,0.1);">Uyarı ! : Bu Lisans Kaydını Silmek İstediğinize Emin Misiniz ?</h3></center>
<div>
    <br>
    <h4>Lisans Bilgileri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span class="delete_title">Program Adı</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramAdi)
        </dd>

        <dt>
            <span class="delete_title">Adet</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adet)
        </dd>

        <dt>
            <span class="delete_title">Firma Adı</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirmaAdi)
        </dd>

        <dt>
            <span class="delete_title">Sabit Telefon</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SabitTelefon)
        </dd>

        <dt>
            <span class="delete_title">GSM</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gsm)
        </dd>

        <dt>
            <span class="delete_title">Mail</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            <span class="delete_title">Alım Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlimTarihi)
        </dd>

        <dt>
            <span class="delete_title">Bitiş Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>

        <dt>
            <span class="delete_title">Yenileme Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YenilemeTarihi)
        </dd>

        <dt>
            <span class="delete_title">Alış Fiyatı</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlisFiyati)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @*<div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> | @Html.ActionLink("Back to List", "Index")
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sil" class="btn btn-danger" />
                <div id="btn_geridon">

                    <button type="button" class="btn btn-primary" onClick="location.href='/Lisans/Index'">Geri Dön</button>

                </div>
            </div>
        </div>
    }
</div>
<style>
    .delete_title {
        color: black;
        font-weight: bolder;
    }

    #btn_geridon {
        float: right;
    }
</style>