@model TakipProje.Models.Lisans

@{
    ViewBag.Title = "Lisans Ayrıntı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lisans Bilgileri Ayrıntılar</h2>

<div>
    <h4>Ayrıntılar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>

            <span>Program Adı</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramAdi)
        </dd>
        <br>
        <dt>
            <span>Adet</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adet)
        </dd>
        <br>
        <dt>
            <span>Firma Adı</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirmaAdi)
        </dd>
        <br>
        <dt>
            <span>Sabit Telefon</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SabitTelefon)
        </dd>
        <br>
        <dt>
            <span>GSM</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gsm)
        </dd>
        <br>
        <dt>
            <span>Mail</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <br>
        <dt>
            <span>Alım Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlimTarihi)
        </dd>
        <br>
        <dt>
            <span>Bitiş Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>
        <br>
        <dt>
            <span>Yenileme Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YenilemeTarihi)
        </dd>
        <br>
        <dt>
            <span>Alış Fiyatı</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlisFiyati)
        </dd>
        <br>
    </dl>
</div>
<p>
    <span id="btn_duzenle">@Html.ActionLink("Düzenle", "Edit", new { id = Model.ID })</span>

    <button type="button" class="btn btn-primary" onClick="location.href='/Lisans/Index'">Geri Dön</button>
</p>

@*<style>
    #btn_duzenle{
        text-decoration:none;
        border:solid black 1px;
        border-radius:4px;
        background-color:#2E59D9;
        color:white;
    }

</style>*@
