@model TakipProje.Models.Lisans

@{
    ViewBag.Title = "Lisans Ayrıntı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<br>
<center><h2>Lisans Bilgileri Ayrıntılar</h2></center>

<div>
    <h4>Lisans Ayrıntıları</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span class="details_title">Program Adı</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramAdi)
        </dd>
        <br>
        <dt>
            <span class="details_title">Adet</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adet)
        </dd>
        <br>
        <dt>
            <span class="details_title">Firma Adı</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirmaAdi)
        </dd>
        <br>
        <dt>
            <span class="details_title">Sabit Telefon</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SabitTelefon)
        </dd>
        <br>
        <dt>
            <span class="details_title">GSM</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gsm)
        </dd>
        <br>
        <dt>
            <span class="details_title">Mail</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <br>
        <dt>
            <span class="details_title">Alım Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlimTarihi)
        </dd>
        <br>
        <dt>
            <span class="details_title">Bitiş Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>
        <br>
        <dt>
            <span class="details_title">Yenileme Tarihi</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YenilemeTarihi)
        </dd>
        <br>
        <dt>
            <span class="details_title">Alış Fiyatı</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlisFiyati) ₺
        </dd>
        <br>
    </dl>
</div>
<p>
    

    

    
    <div class="col-sm-offset-1 col-md-10">
        <span style="float:left;">@Html.ActionLink("Güncelle", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" })</span>
        &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-info" onClick="location.href='/LisansDetay/Index'" style="transition:900ms;">Tarihçe</button>



        <div id="btn btn-primary" style="float:right">
            <button type="button" class="btn btn-primary" onClick="location.href='/Lisans/Index'">Geri Dön</button>
        </div>
    </div>
</p>

