@model IEnumerable<TakipProje.Models.LisansDetay>

@{
    ViewBag.Title = "FiyatListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FiyatListesi</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProgramAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgramTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgramFiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lisans.ProgramAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramFiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lisans.ProgramAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
