@model IEnumerable<TakipProje.Models.Lisans>

@{
    ViewBag.Title = "Lisans Takibi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lisans Takip Kayıt İşlemleri</h2>

<br>
<button type="button" class="btn btn-primary" onClick="location.href='/Lisans/Create'">Yeni Kayıt Oluştur</button>
<br>
<br>
<table class="table">
    <tr>
        <th>
            <span>Program Adı</span>
        </th>
        <th>
            <span>Sabit Telefon</span>
        </th>
        <th>
            <span>Mail</span>
        </th>
        <th>
            <span>Alım Tarihi</span>
        </th>
        <th>
            <span>Bitiş Tarihi</span>
        </th>
        <th>
            <span>Yenileme Tarihi</span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SabitTelefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @item.AlimTarihi.ToString("yyyy.MM.dd")
            </td>
            <td>
                @item.BitisTarihi.ToString("yyyy.MM.dd")
            </td>
            <td>
                @item.YenilemeTarihi.ToString("yyyy.MM.dd")
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Ayrıntılar", "Details", new { id = item.ID }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
